<h1>:: Welcome to Night Planner ::</h1>
<h2>What name would you like to associate with this ticket order?</h2>

  <form action='/friends' method='get'>   
  	<!-- go to the app.rb and find the action that that says results -->

      <input name='order_names' type='text' placeholder='Enter your name here.     '> <br>

<h2>What do you feel like doing?</h2>
     
   
      <input name='activities' type='radio' value='go dancing'> go dancing <br>  
      <input name='activities' type='radio' value='listen to music'> listen to music <br>  
      <input name='activities' type='radio' value='eat tacos'> eat tacos <br>
      <input name='activities' type='radio' value='play hacky sack'> play hacky sack <br><br>
         <input type='submit'>
  </form>